html
{
	scroll-behavior: smooth; /* https://caniuse.com/#feat=css-scroll-behavior */
}

.navbar
{
	background-color:rgba(0,0,0,.2)
}

.navbar.top-nav-collapse
{
	background-color:rgba(0,0,0,1)
}

.navbar .nav-link.active
{
	font-weight: bold;
}

.navbar .image-icon
{
	height: 1em;
}

.navbar .image-icon:hover
{
	filter: opacity(75%);
}

.header
{
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: -40px;
	z-index: 10;
	position: relative;
}

.avatar
{
	border: 5px solid #fff;
	max-width: 240px;
}

.section:before
{
	content:"";
	display:block;
	height:40px; /* fixed header height*/
	margin:-40px 0 0; /* negative fixed header height */
}

.section, .section.dark-section:before
{
	background-color: #f5f5f5;
}

.section.dark-section, .section:before
{
	background-color: #1C2331; /* unique-color */
}

.section h3
{
	color: #1C2331;
}

.section.dark-section h3
{
	color: #f5f5f5;
}

.result
{
	display: none;
	padding: 0.25em;
}

.result.text-success
{
	border: 2px solid #00c851; /* text-success */
}

.result.text-danger
{
	border: 2px solid #ff3547; /* text-danger */
}

.carousel-arrow
{
	align-self: start;
	max-width: 20px;
	padding: 0;
	margin-top: 200px;
}

.carousel-arrow .carousel-control-prev, .carousel-arrow .carousel-control-next
{
	width: 100%;
}

.carousel .carousel-indicators
{
	position: initial;
}

.carousel .carousel-indicators li.project-thumbnail
{
	width: 100px;
	height: 100px;
	text-indent: inherit;
	background: none;
}

.email-link
{
	color:black;
}

.email-link:hover
{
	color:gray;
}

footer.page-footer .footer-copyright
{
	background-color: black;
}